@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/** TYPE PATTERNS **/
@mixin quiet() {
  font-size: 16px;
  line-height: 1.4; // no units on line-height
  letter-spacing: 0.75px;
}

@mixin normal() {
  font-size: 20px;
  line-height: 1.4; // no units on line-height
  letter-spacing: 0.75px;
}

@mixin bold() {
  font-size: 26px; // please just use pxs.
  line-height: 1.4; // no units on line-height
  letter-spacing: 0.02em; // ems for letter-spacing 'kearning'
  font-weight: 400; // no 'normal' and 'bold' - make sure your font supports this - or the browser will try and fake it - and it'll cause troubles for you
}

@mixin strong() {
  font-size: 28px;
  line-height: 1.4; // no units on line-height

  @include bp(1) {
    font-size: 32px;
  }
}

@mixin loud() {
  font-size: 52px;
  line-height: 1.4; // no units on line-height

  // smaller on iphone 5
  @media (max-width: 374px) {
    font-size: 60px;
  }

  @include bp(1) {
    font-size: 75px;
  }
}
