// Layout
$pad: 15px;
$nav: 75px;

$shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

// Pallet
$black: #000;
$white: #fef1ee;
$gray: #f4f4f4;
$brown: #9d786c;
$sage: #9d9980;
$tan: #bdaf9e;
$beige: #d7cbc1;
$pink: #caaca5;

// Colors
$primary: $brown;
$secondary: $white;
$tertiary: $gray;
$background: $white;
